# Maven
**/target/
!.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
bin/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
logs/
*.pid

# Scripts temporales
*.ps1.tmp
